
div.userinfo table {
	margin: 0px;
	
	
}
div.userinfo table th {

}
div.userinfo table th:first-child {
	text-align: left;
	padding-left:20px;
}
div.userinfo table tr:first-child th:first-child {
	
}
div.userinfo table tr:first-child th:last-child {
	
}
div.userinfo table tr {
	text-align: left;
	padding-left:20px;
	width: 100%;

}

div.userinfo table td {
	padding: 4px;
	

}
div.userinfo table tr.even td {
	
}

